[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/pfd"]
	path = vendor/pfd
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "vendor/external/json"]
	path = vendor/external/json
	url = https://github.com/nlohmann/json
